body, html{
  height:100%;
}
body{
  margin: 0px;
  background-color:#444;
  font-size: 18px;
  background-image: url(src/photos/UnderwaterBackground.jpg);
  background-size: cover;
  background-repeat: no-repeat
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.title, .addDancerButton{
  padding:5px 12px;
  float:right;
  opacity: 100%;
  border:10px;
  border-radius:10px;
  background: url(src/photos/bubble)
}
.topbar{
  height:32px;
  opacity: 100%;
}
.title{
  opacity: 100%;
}
.dancer{
  margin: auto;
  border:10px solid ;
  border-radius:50%;
  position:absolute;
  background-image: url(src/photos/oatter.jpeg);
  background-size: 100px 100px;
  background-repeat: no-repeat;

}

.sliding{
  border:40px solid blue;
  border-radius: 0px;
  position: absolute;
}

.yolodance{
  border:40px solid green;
  border-radius: 0px;
  position: absolute;
}
.inLine{
  bottom: 0%;
  position: absolute;
}




/*Set the position of div at the bottom of its container can be done using bottom, and position property. Set position value to absolute and bottom value to zero to placed a div at the bottom of container.
*/